{"openapi":"3.1.0","info":{"title":"PI API","version":"0.1.0"},"servers":[{"url":"https://api.primeintellect.ai"}],"paths":{"/api/admin/audit-logs":{"get":{"tags":["admin-audit-logs"],"summary":"List Audit Logs","description":"List recorded admin operations, newest first, filtered by the query.","operationId":"list_audit_logs_api_admin_audit_logs_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter to a single resource type.","title":"Resource"},"description":"Filter to a single resource type."},{"name":"userId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter to a single acting admin.","title":"Userid"},"description":"Filter to a single acting admin."},{"name":"keyPrefix","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter to a single API key.","title":"Keyprefix"},"description":"Filter to a single API key."},{"name":"action","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter to a single action type.","title":"Action"},"description":"Filter to a single action type."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminAuditLogEntry__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/clusters":{"get":{"tags":["admin-clusters"],"summary":"List Clusters","description":"List non-terminated clusters (auto-scoped to the caller's grants).","operationId":"list_clusters_api_admin_clusters_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"vaultEnabled","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"If true, return only vault-enabled clusters; if false, only non-vault-enabled. Omit to include both.","title":"Vaultenabled"},"description":"If true, return only vault-enabled clusters; if false, only non-vault-enabled. Omit to include both."},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against cluster name or id.","title":"Search"},"description":"Case-insensitive substring match against cluster name or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."},{"name":"detailed","in":"query","required":false,"schema":{"type":"boolean","description":"If true, populate `nodes` for each cluster (one entry per pod). Otherwise only the `controller` connection is returned.","default":false,"title":"Detailed"},"description":"If true, populate `nodes` for each cluster (one entry per pod). Otherwise only the `controller` connection is returned."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminClusterSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/clusters/{cluster_id}":{"get":{"tags":["admin-clusters"],"summary":"Get Cluster","description":"Return full DB details for one cluster (columns + nodes + SSH keys).","operationId":"get_cluster_api_admin_clusters__cluster_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_ClusterDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}},"delete":{"tags":["admin-clusters"],"summary":"Terminate Cluster Endpoint","description":"Terminate a cluster via its provider.","operationId":"terminate_cluster_endpoint_api_admin_clusters__cluster_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminActionStatus_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/clusters/{cluster_id}/authorizations/certificate":{"post":{"tags":["admin-clusters"],"summary":"Request Certificate","description":"Sign the requesting admin's SSH public key via Vault.\n\nIf a ``publicKey`` is provided in the body, it is signed directly.\nOtherwise the admin's DB-stored SSH public key is used.","operationId":"request_certificate_api_admin_clusters__cluster_id__authorizations_certificate_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/CertificateRequest"},{"type":"null"}],"title":"Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_CertificateResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/clusters/{cluster_id}/force":{"delete":{"tags":["admin-clusters"],"summary":"Force Terminate Cluster Endpoint","description":"Force an orphaned cluster's status to TERMINATED (keeps the DB row).","operationId":"force_terminate_cluster_endpoint_api_admin_clusters__cluster_id__force_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminActionStatus_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/clusters/{cluster_id}/node-logs":{"get":{"tags":["admin-clusters"],"summary":"List Cluster Node Logs","description":"Return paginated ClusterNodeLog entries for one cluster, newest first.","operationId":"list_cluster_node_logs_api_admin_clusters__cluster_id__node_logs_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}},{"name":"podId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter logs to a single pod.","title":"Podid"},"description":"Filter logs to a single pod."},{"name":"eventType","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ClusterNodeLogEventTypeEnum"},{"type":"null"}],"description":"Filter logs to a single event type.","title":"Eventtype"},"description":"Filter logs to a single event type."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100, default 20).","default":20,"title":"Limit"},"description":"Max items to return (1-100, default 20)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_ClusterNodeLogEntry__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/disks":{"get":{"tags":["admin-disks"],"summary":"List Disks","description":"List non-terminated disks (auto-scoped to the caller's grants).","operationId":"list_disks_api_admin_disks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against disk name or id.","title":"Search"},"description":"Case-insensitive substring match against disk name or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminDiskSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/disks/{disk_id}":{"get":{"tags":["admin-disks"],"summary":"Get Disk","description":"Return DB details for a single disk.","operationId":"get_disk_api_admin_disks__disk_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_DiskDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}},"delete":{"tags":["admin-disks"],"summary":"Terminate Disk Endpoint","description":"Terminate a disk via its provider.","operationId":"terminate_disk_endpoint_api_admin_disks__disk_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminActionStatus_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/disks/{disk_id}/force":{"delete":{"tags":["admin-disks"],"summary":"Force Terminate Disk Endpoint","description":"Force an orphaned disk's status to TERMINATED (keeps the DB row).","operationId":"force_terminate_disk_endpoint_api_admin_disks__disk_id__force_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminActionStatus_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/emails/send":{"post":{"tags":["admin-emails"],"summary":"Send Bulk Email","description":"Send a templated email to the given users and to the contact address of\nthe given teams (subject + body, personalized with each recipient's name).\n\nAuthorizes ``emails:create`` per recipient, so a scoped grant may email only\nthe users/teams it names while a broad grant may email anyone.","operationId":"send_bulk_email_api_admin_emails_send_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendBulkEmailRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_SendBulkEmailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}},"security":[{"HTTPBearer":[]}]}},"/api/admin/inventory/clusters":{"get":{"tags":["admin-inventory"],"summary":"List Clusters","description":"List inventory clusters (auto-scoped to the caller's grants).","operationId":"list_clusters_api_admin_inventory_clusters_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"vaultEnabled","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"If true, return only vault-enabled clusters; if false, only non-vault-enabled. Omit to include both.","title":"Vaultenabled"},"description":"If true, return only vault-enabled clusters; if false, only non-vault-enabled. Omit to include both."},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against cluster name, slug, or id.","title":"Search"},"description":"Case-insensitive substring match against cluster name, slug, or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_InventoryClusterSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/clusters/{cluster_id}":{"patch":{"tags":["admin-inventory"],"summary":"Update Inventory Cluster","description":"Apply one general partial cluster update through the audited service.","operationId":"update_inventory_cluster_api_admin_inventory_clusters__cluster_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}},{"name":"dryRun","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Dryrun"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterMutationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_MutationResult_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/node-types":{"get":{"tags":["admin-inventory"],"summary":"List Node Types","description":"List node types so an import can resolve inventory_gpu_type.\n\n`clusterId` is optional: a cluster-less import has none. Omitting it\nnarrows authorization to a broad grant.","operationId":"list_node_types_api_admin_inventory_node_types_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"clusterId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Import target used for scoped authorization. Omit it for a cluster-less import; with no id, only a broad inventory:read grant passes.","title":"Clusterid"},"description":"Import target used for scoped authorization. Omit it for a cluster-less import; with no id, only a broad inventory:read grant passes."},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against model, slug, or GPU type.","title":"Search"},"description":"Case-insensitive substring match against model, slug, or GPU type."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_InventoryNodeTypeSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/nodes":{"get":{"tags":["admin-inventory"],"summary":"List Nodes","description":"List inventory nodes with their site/cluster/tenant/node-type assignment.\n\nThe import command uses this to preflight hostname collisions and to\nreport drift. It passes ``names`` without ``siteId`` to find hostnames that\nare already registered at another site.","operationId":"list_nodes_api_admin_inventory_nodes_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"siteId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter to nodes at this inventory site.","title":"Siteid"},"description":"Filter to nodes at this inventory site."},{"name":"clusterId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter to nodes ACTIVE-assigned to this inventory cluster.","title":"Clusterid"},"description":"Filter to nodes ACTIVE-assigned to this inventory cluster."},{"name":"names","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Exact node names to return. Repeat the parameter for each name (max 200).","title":"Names"},"description":"Exact node names to return. Repeat the parameter for each name (max 200)."},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against node name or id.","title":"Search"},"description":"Case-insensitive substring match against node name or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":50,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_InventoryNodeSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}},"post":{"tags":["admin-inventory"],"summary":"Import Inventory Nodes","description":"Create or update inventory nodes in bulk. Optionally assign them to a cluster.\n\nThis is an upsert. The service matches a node by (name, siteId), and rejects\na hostname that already exists at another site: adoptForeignSiteNodes moves\nthat row to siteId, allowDuplicateHostnames inserts a second row for it\n(ENG-5402). For an\nexisting node, it overwrites the host vars. With ansible_groups, it replaces\nthe cluster additional.ansibleGroups. Because the operation is an upsert,\nboth inventory:create and inventory:update are required and scoped to\nclusterId. The audit records the acting admin. The prime-admin import command\nalso needs inventory:read for resolution and collision preflight.","operationId":"import_inventory_nodes_api_admin_inventory_nodes_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NodeImportRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_MutationResult_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/nodes/detach":{"post":{"tags":["admin-inventory"],"summary":"Detach Inventory Nodes","description":"Detach nodes from one inventory cluster, leaving the node rows unassigned.\n\nEvery node must currently be ACTIVE on ``clusterId``. Their assignments are\nended (kept as history) and the node rows keep their status. This is the\nreversible half of node removal — a later import can re-assign the node.\n``dryRun`` runs the same validation without writing.","operationId":"detach_inventory_nodes_api_admin_inventory_nodes_detach_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"dryRun","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Dryrun"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NodeDetachRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_MutationResult_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/nodes/retire":{"post":{"tags":["admin-inventory"],"summary":"Retire Inventory Nodes","description":"Retire unassigned nodes: move them to the terminal DECOMMISSIONING state.\n\nNothing is deleted — the node row and its assignment history stay. A node\nstill holding a live assignment is refused: detach it first. A retired node\ncarries no cluster, so there is nothing to\nscope against and this needs a broad ``inventory:update`` grant. ``dryRun``\nvalidates without writing.","operationId":"retire_inventory_nodes_api_admin_inventory_nodes_retire_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"dryRun","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Dryrun"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NodeRetireRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_MutationResult_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/sites":{"get":{"tags":["admin-inventory"],"summary":"List Sites","description":"List inventory sites for the caller's grants. The operator uses a site id\nfor node import.","operationId":"list_sites_api_admin_inventory_sites_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against site name, slug, or id.","title":"Search"},"description":"Case-insensitive substring match against site name, slug, or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_InventorySiteSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/tenants":{"get":{"tags":["admin-inventory"],"summary":"List Tenants","description":"List tenants so an import can resolve inventory_customer_slug.","operationId":"list_tenants_api_admin_inventory_tenants_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"clusterId","in":"query","required":true,"schema":{"type":"string","description":"Import target used for scoped authorization.","title":"Clusterid"},"description":"Import target used for scoped authorization."},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against tenant name or slug.","title":"Search"},"description":"Case-insensitive substring match against tenant name or slug."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_InventoryTenantSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/{cluster_id}/authorization/certificate":{"post":{"tags":["admin-inventory"],"summary":"Request Inventory Certificate","description":"Sign the requesting admin's SSH public key for an inventory cluster.\n\nIf a ``publicKey`` is provided in the body, it is signed directly. Otherwise\nthe admin's DB-stored SSH public key is used. Signing is gated on the\ncluster's ``vaultSshCaEnabled`` flag.","operationId":"request_inventory_certificate_api_admin_inventory__cluster_id__authorization_certificate_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/CertificateRequest"},{"type":"null"}],"title":"Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_CertificateResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/inventory/{cluster_id}/playbooks-sync":{"post":{"tags":["admin-inventory"],"summary":"Sync Inventory Cluster Playbooks","description":"Render the cluster's inventory.ini and open (or update) its PR on\ninfra-playbooks.\n\nSide-effecting rather than a write of inventory data, so it is gated on\n``inventory:execute`` scoped to the cluster — the same verb as certificate\nsigning. ``?dryRun=true`` returns the rendered diff and touches nothing;\nit overrides the body flag.","operationId":"sync_inventory_cluster_playbooks_api_admin_inventory__cluster_id__playbooks_sync_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","title":"Cluster Id"}},{"name":"dryRun","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Dryrun"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/PlaybooksSyncRequest"},{"type":"null"}],"title":"Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_PlaybooksSyncResult_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/pods":{"get":{"tags":["admin-pods"],"summary":"List Pods","description":"List non-terminated pods (auto-scoped to the caller's grants).","operationId":"list_pods_api_admin_pods_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against pod name or id.","title":"Search"},"description":"Case-insensitive substring match against pod name or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminPodSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/pods/{pod_id}":{"get":{"tags":["admin-pods"],"summary":"Get Pod","description":"Return DB details for a single pod.","operationId":"get_pod_api_admin_pods__pod_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_id","in":"path","required":true,"schema":{"type":"string","title":"Pod Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_PodDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}},"delete":{"tags":["admin-pods"],"summary":"Terminate Pod Endpoint","description":"Terminate a pod via its provider.","operationId":"terminate_pod_endpoint_api_admin_pods__pod_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_id","in":"path","required":true,"schema":{"type":"string","title":"Pod Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminActionStatus_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/pods/{pod_id}/force":{"delete":{"tags":["admin-pods"],"summary":"Force Terminate Pod Endpoint","description":"Force an orphaned pod's status to TERMINATED (keeps the DB row).","operationId":"force_terminate_pod_endpoint_api_admin_pods__pod_id__force_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_id","in":"path","required":true,"schema":{"type":"string","title":"Pod Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminActionStatus_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams":{"get":{"tags":["admin-teams"],"summary":"List Teams","description":"List teams (auto-scoped to the caller's grants).","operationId":"list_teams_api_admin_teams_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against name, email or id.","title":"Search"},"description":"Case-insensitive substring match against name, email or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminTeamSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}":{"get":{"tags":["admin-teams"],"summary":"Get Team","description":"Return DB details for a single team.","operationId":"get_team_api_admin_teams__team_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_TeamDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}},"patch":{"tags":["admin-teams"],"summary":"Update Team","description":"Edit a team: name/url/bio, set slug, set email, grant beta.","operationId":"update_team_api_admin_teams__team_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTeamRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_TeamDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/billing":{"get":{"tags":["admin-teams"],"summary":"Get Team Billing","description":"Return the team's wallet balance, settings, and configured usage limits.","operationId":"get_team_billing_api_admin_teams__team_id__billing_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_WalletBillingInfo_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/billing-history":{"get":{"tags":["admin-teams"],"summary":"List Team Billing History","description":"Paginated billing (per-resource charge) history for a team.","operationId":"list_team_billing_history_api_admin_teams__team_id__billing_history_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_BillingRecordResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/clusters":{"get":{"tags":["admin-teams"],"summary":"List Team Clusters","description":"Paginated list of the team's non-terminated clusters.","operationId":"list_team_clusters_api_admin_teams__team_id__clusters_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminClusterSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/disks":{"get":{"tags":["admin-teams"],"summary":"List Team Disks","description":"Paginated list of the team's non-terminated disks.","operationId":"list_team_disks_api_admin_teams__team_id__disks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminDiskSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/members":{"get":{"tags":["admin-teams"],"summary":"List Team Members","description":"List every member of the team with their role and join date.","operationId":"list_team_members_api_admin_teams__team_id__members_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_list_AdminTeamMember__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/pods":{"get":{"tags":["admin-teams"],"summary":"List Team Pods","description":"Paginated list of the team's non-terminated pods.","operationId":"list_team_pods_api_admin_teams__team_id__pods_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminPodSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/transactions":{"get":{"tags":["admin-teams"],"summary":"List Team Transactions","description":"Paginated wallet transaction history for a team, newest first.","operationId":"list_team_transactions_api_admin_teams__team_id__transactions_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_WalletTransactionResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/teams/{team_id}/transactions/{transaction_id}":{"get":{"tags":["admin-teams"],"summary":"Get Team Transaction","description":"Detailed view of a single wallet transaction.","operationId":"get_team_transaction_api_admin_teams__team_id__transactions__transaction_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","title":"Team Id"}},{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","title":"Transaction Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_WalletTransactionResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/transactions/topup":{"post":{"tags":["admin-transactions"],"summary":"Topup Wallet","description":"Credit (TOPUP) or debit (REFUND) a user/team wallet. ``amount`` is in\nstored units (USD * 10000).","operationId":"topup_wallet_api_admin_transactions_topup_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminTopupRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_TopupResult_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}},"security":[{"HTTPBearer":[]}]}},"/api/admin/users":{"get":{"tags":["admin-users"],"summary":"List Users","description":"List users (auto-scoped to the caller's grants).","operationId":"list_users_api_admin_users_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match against name, email or id.","title":"Search"},"description":"Case-insensitive substring match against name, email or id."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip.","default":0,"title":"Offset"},"description":"Number of items to skip."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Max items to return (1-100).","default":20,"title":"Limit"},"description":"Max items to return (1-100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminUserSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/whoami":{"get":{"tags":["admin-users"],"summary":"Get Current User","description":"Identity + envelope for the calling admin API key.\n\nIntentionally bypasses ``require_admin_permission``: any valid, non-\nexpired, non-disabled admin API key whose owner is still ADMIN/MANAGER\ncan call this. Returning the resolved permission envelope is what makes\na freshly-minted scoped key able to discover what it can do — together\nwith the key's own grants, since authorization is the AND of the two.","operationId":"get_current_user_api_admin_users_whoami_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_AdminWhoamiResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}},"security":[{"HTTPBearer":[]}]}},"/api/admin/users/{user_id}":{"get":{"tags":["admin-users"],"summary":"Get User","description":"Return DB details for a single user.","operationId":"get_user_api_admin_users__user_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_UserDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}},"patch":{"tags":["admin-users"],"summary":"Update User","description":"Edit a user: ban/unban, blacklist, grant beta, name/url/bio, set slug.","operationId":"update_user_api_admin_users__user_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_UserDetailResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/billing":{"get":{"tags":["admin-users"],"summary":"Get User Billing","description":"Return the user's wallet balance, settings, and configured usage limits.","operationId":"get_user_billing_api_admin_users__user_id__billing_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_WalletBillingInfo_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/billing-history":{"get":{"tags":["admin-users"],"summary":"List User Billing History","description":"Paginated billing (per-resource charge) history for a user.","operationId":"list_user_billing_history_api_admin_users__user_id__billing_history_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_BillingRecordResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/clusters":{"get":{"tags":["admin-users"],"summary":"List User Clusters","description":"Paginated list of the user's non-terminated clusters.","operationId":"list_user_clusters_api_admin_users__user_id__clusters_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminClusterSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/disks":{"get":{"tags":["admin-users"],"summary":"List User Disks","description":"Paginated list of the user's non-terminated disks.","operationId":"list_user_disks_api_admin_users__user_id__disks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminDiskSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/pods":{"get":{"tags":["admin-users"],"summary":"List User Pods","description":"Paginated list of the user's non-terminated pods.","operationId":"list_user_pods_api_admin_users__user_id__pods_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_AdminPodSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/teams":{"get":{"tags":["admin-users"],"summary":"List User Teams","description":"List the teams the user is a member of, filtered to the teams the caller\nis scoped to read.","operationId":"list_user_teams_api_admin_users__user_id__teams_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_list_AdminTeamSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/transactions":{"get":{"tags":["admin-users"],"summary":"List User Transactions","description":"Paginated wallet transaction history for a user, newest first.","operationId":"list_user_transactions_api_admin_users__user_id__transactions_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_list_WalletTransactionResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/transactions/{transaction_id}":{"get":{"tags":["admin-users"],"summary":"Get User Transaction","description":"Detailed view of a single wallet transaction.","operationId":"get_user_transaction_api_admin_users__user_id__transactions__transaction_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}},{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","title":"Transaction Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_WalletTransactionResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/admin/users/{user_id}/usage-limits":{"patch":{"tags":["admin-users"],"summary":"Update User Limits","description":"Update any subset of the user's wallet usage limits.","operationId":"update_user_limits_api_admin_users__user_id__usage_limits_patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","title":"User Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUsageLimitsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_WalletBillingInfo_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/api/v1/agent-analytics/events":{"post":{"tags":["agent_analytics"],"summary":"Ingest Events","operationId":"ingest_events_api_v1_agent_analytics_events_post","responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentAnalyticsAccepted"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/agent-traces/sessions/{session_id}":{"put":{"tags":["agent_traces"],"summary":"Upload Session","description":"Overwrite the stored JSONL for this session.\n\nBody is raw NDJSON; the CLI sends the entire local session file each call.\nContent-Length is checked before the body is read so oversized requests\nare rejected without buffering bytes.","operationId":"upload_session_api_v1_agent_traces_sessions__session_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","title":"Session Id"}},{"name":"x-trace-id","in":"header","required":false,"schema":{"type":"string","description":"Root session id in the recursion tree.","default":"","title":"X-Trace-Id"},"description":"Root session id in the recursion tree."},{"name":"x-parent-session","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Parent session id if this is a sub-agent session.","title":"X-Parent-Session"},"description":"Parent session id if this is a sub-agent session."},{"name":"x-cwd","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Working directory the agent was launched from.","title":"X-Cwd"},"description":"Working directory the agent was launched from."},{"name":"x-agent-version","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"prime-agent version string.","title":"X-Agent-Version"},"description":"prime-agent version string."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSessionResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/":{"get":{"tags":["Availability"],"summary":"Get Legacygpu Availability","operationId":"get_legacygpu_availability_api_v1_availability__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"Number of results per page","default":500,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyAvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/clusters":{"get":{"tags":["Availability"],"summary":"Get Legacy Cluster Availability","operationId":"get_legacy_cluster_availability_api_v1_availability_clusters_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"Number of results per page","default":500,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyAvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/disks":{"get":{"tags":["Availability"],"summary":"Get Disks Availability","operationId":"get_disks_availability_api_v1_availability_disks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results per page","default":100,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiskAvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/gpu-summary":{"get":{"tags":["Availability"],"summary":"Get Gpu Summary","description":"Get GPU pricing summary data grouped by GPU type and instance count.","operationId":"get_gpu_summary_api_v1_availability_gpu_summary_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"additionalProperties":{"$ref":"#/components/schemas/InstanceCountPricing"},"type":"object"},"type":"object","title":"Response Get Gpu Summary Api V1 Availability Gpu Summary Get"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/availability/gpus":{"get":{"tags":["Availability"],"summary":"Get Gpu Availability","operationId":"get_gpu_availability_api_v1_availability_gpus_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results per page","default":100,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/multi-node":{"get":{"tags":["Availability"],"summary":"Get Multinode Availability","operationId":"get_multinode_availability_api_v1_availability_multi_node_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results per page","default":100,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/multi-node-summary":{"get":{"tags":["Availability"],"summary":"Get Multinode Summary","description":"Get multi-node (cluster) pricing summary data grouped by GPU type and instance count.","operationId":"get_multinode_summary_api_v1_availability_multi_node_summary_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"additionalProperties":{"$ref":"#/components/schemas/InstanceCountPricing"},"type":"object"},"type":"object","title":"Response Get Multinode Summary Api V1 Availability Multi Node Summary Get"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/billing/runs/{run_id}/usage":{"get":{"tags":["Billing"],"summary":"Token usage and cost for a single RFT run","description":"Return the running token + cost totals for one RFT run.\n\nMirrors the per-row training data shown on the billing page (Training\ntokens, Inference input/output tokens, price per million tokens, and\ntotal cost) so an agent can poll this endpoint to monitor a live run.","operationId":"get_run_usage_api_v1_billing_runs__run_id__usage_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","title":"Run Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunUsageResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/billing/wallet":{"get":{"tags":["Billing"],"summary":"Wallet balance + most recent billing rows","description":"Return the wallet's current balance and most recent billing rows.\n\nAll resource types are included (compute, training, inference, disks,\nsandboxes, images) — same source-of-truth `Billing` table the\ndashboard's Billing History tab reads. Sorted by `lastBilledAt` desc.","operationId":"get_wallet_api_v1_billing_wallet_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of recent billing rows to include (max 100).","default":20,"title":"Limit"},"description":"Number of recent billing rows to include (max 100)."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Skip this many rows before returning. Lets callers page.","default":0,"title":"Offset"},"description":"Skip this many rows before returning. Lets callers page."},{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"If provided, return the team's wallet (requires membership).","title":"Teamid"},"description":"If provided, return the team's wallet (requires membership)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/disks/":{"get":{"tags":["Disks"],"summary":"List Disks","operationId":"list_disks_api_v1_disks__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_APIDiskConfig__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Disks"],"summary":"Create Disk","operationId":"create_disk_api_v1_disks__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_create_disk_api_v1_disks__post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDiskConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/disks/{disk_id}":{"get":{"tags":["Disks"],"summary":"Get Disk","operationId":"get_disk_api_v1_disks__disk_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDiskConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Disks"],"summary":"Update Disk","operationId":"update_disk_api_v1_disks__disk_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDiskUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Disks"],"summary":"Delete Disk","operationId":"delete_disk_api_v1_disks__disk_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/":{"post":{"tags":["evals"],"summary":"Create Evaluation","description":"Create a new evaluation\n\nThis endpoint supports:\n- Environment evaluations: Provide environments\n- Prime RL evaluations: Provide run_id\n- Suite evaluations: Provide suite_id\n\nOwnership:\n- If team_id is provided in request, the evaluation will be owned by the team\n- Otherwise, the evaluation will be owned by the authenticated user","operationId":"create_evaluation_api_v1_evaluations__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEvaluationRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["evals"],"summary":"List Evaluations","description":"Get a list of evaluations owned by the authenticated user or their teams\n\nBy default, returns all evaluations the user has access to (personal + all teams).","operationId":"list_evaluations_api_v1_evaluations__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by specific team ID","title":"Team Id"},"description":"Filter by specific team ID"},{"name":"environment_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by environment ID","title":"Environment Id"},"description":"Filter by environment ID"},{"name":"environment_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by environment name","title":"Environment Name"},"description":"Filter by environment name"},{"name":"suite_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by suite ID","title":"Suite Id"},"description":"Filter by suite ID"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEvaluationsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/bulk-delete":{"post":{"tags":["evals"],"summary":"Bulk Delete Evaluations","operationId":"bulk_delete_evaluations_api_v1_evaluations_bulk_delete_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteEvaluationsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteEvaluationsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/evaluations/{evaluation_id}":{"put":{"tags":["evals"],"summary":"Update Evaluation","description":"Update an existing evaluation","operationId":"update_evaluation_api_v1_evaluations__evaluation_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEvaluationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["evals"],"summary":"Get Evaluation","description":"Get detailed information about a specific evaluation.","operationId":"get_evaluation_api_v1_evaluations__evaluation_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["evals"],"summary":"Delete Evaluation","operationId":"delete_evaluation_api_v1_evaluations__evaluation_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/{evaluation_id}/finalize":{"post":{"tags":["evals"],"summary":"Finalize Evaluation","description":"Mark an evaluation as complete and compute final statistics.","operationId":"finalize_evaluation_api_v1_evaluations__evaluation_id__finalize_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/FinalizeEvaluationRequest"},{"type":"null"}],"title":"Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizeEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/{evaluation_id}/samples":{"post":{"tags":["evals"],"summary":"Push Samples","description":"Push evaluation samples\n\nThis endpoint can be called multiple times to stream samples as they're generated.","operationId":"push_samples_api_v1_evaluations__evaluation_id__samples_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSamplesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSamplesResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["evals"],"summary":"Get Samples","description":"Get samples for a specific evaluation","operationId":"get_samples_api_v1_evaluations__evaluation_id__samples_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSamplesResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/feedback":{"post":{"tags":["Feedback"],"summary":"Submit Feedback","operationId":"submit_feedback_api_v1_feedback_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/hosted-evaluations":{"post":{"tags":["hosted-evaluations"],"summary":"Create Hosted Evaluation","description":"Create and start a hosted evaluation.","operationId":"create_hosted_evaluation_api_v1_hosted_evaluations_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHostedEvaluationRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHostedEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/hosted-evaluations/models":{"get":{"tags":["hosted-evaluations"],"summary":"Get Inference Models","description":"Get available models from Prime Inference API for hosted evaluations","operationId":"get_inference_models_api_v1_hosted_evaluations_models_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListInferenceModelsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/hosted-evaluations/{evaluation_id}/cancel":{"patch":{"tags":["hosted-evaluations"],"summary":"Cancel Hosted Evaluation Route","description":"Cancel a running hosted evaluation.","operationId":"cancel_hosted_evaluation_route_api_v1_hosted_evaluations__evaluation_id__cancel_patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelHostedEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/hosted-evaluations/{evaluation_id}/logs":{"get":{"tags":["hosted-evaluations"],"summary":"Get Hosted Evaluation Logs Route","description":"Get real-time logs from the sandbox running a hosted evaluation.","operationId":"get_hosted_evaluation_logs_route_api_v1_hosted_evaluations__evaluation_id__logs_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHostedEvaluationLogsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images":{"get":{"tags":["Images"],"summary":"List User Images","description":"List images and builds for the current user, scoped by team context. Returns personal images by default, or team images if teamId is provided.\n\nPagination note: `limit`, `offset`, and `totalCount` count logical images\n(unique `owner/imageName:imageTag`). A single image may produce multiple\n`data[]` rows (one per artifact type plus any active builds), so\n`len(data)` can exceed `limit` and `totalCount` reflects images, not rows.\n\nThe optional `search` parameter narrows results (case-insensitively) to\nimages whose name, tag, or `name:tag` reference contains the given\nsubstring.\n\nSetting `ownerScope=platform` lists only org-less platform images and\nbuilds.","operationId":"list_user_images_api_v1_images_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by team ID. If provided, returns only that team's images. If not provided, returns only personal images.","title":"Teamid"},"description":"Filter by team ID. If provided, returns only that team's images. If not provided, returns only personal images."},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring match on image name, tag, or the displayed reference.","title":"Search"},"description":"Case-insensitive substring match on image name, tag, or the displayed reference."},{"name":"ownerScope","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ImageOwnerTypeEnum"},{"type":"null"}],"description":"Set to platform to list org-less platform images.","title":"Ownerscope"},"description":"Set to platform to list org-less platform images."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_ImageResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n300 requests per 60 seconds per IP and token."}},"patch":{"tags":["Images"],"summary":"Update Images","description":"Update one or many logical images: visibility, name/tag, and owner.\n\nApplies up to 100 independent patches; each item names its source image\nexactly and may change `visibility`, rename `name`/`tag`, move a personal\nimage into one of the caller's teams, or promote a personal/team image to\nan org-less platform image (platform admins only; platform images are\nalways PUBLIC).\n\nRenames and owner moves update the whole logical group (container + VM\nartifacts and their linked builds) atomically without moving the backing\nartifacts: the old reference stops resolving and the new reference\nresolves to the same content. An owner move settles storage billing to\nthe source wallet at the cutover instant and bills the destination\nafterwards. Destinations are never overwritten (`destination_exists`).\n\n`dryRun` performs resolution, authorization, collision detection, and\nquota projection without writing; a valid request with item-specific\nfailures still returns 200 with per-item errors.","operationId":"update_images_api_v1_images_patch","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateImagesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateImagesResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n50 requests per 60 seconds per IP and token."}}},"/api/v1/images/build":{"post":{"tags":["Images"],"summary":"Initiate Image Build","description":"Initiate an image build process.\n\nReturns a presigned URL to upload the build context (tar.gz file).\nAfter uploading, call /images/build/{build_id}/start to begin the build.","operationId":"initiate_image_build_api_v1_images_build_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildImageRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/BuildImageResponse"},{"$ref":"#/components/schemas/BulkImageTransferResponse"}],"title":"Response Initiate Image Build Api V1 Images Build Post"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}],"x-mint":{"content":"## Rate Limit\n\n150 requests per 60 seconds per IP and token."}}},"/api/v1/images/build/{build_id}":{"get":{"tags":["Images"],"summary":"Get Build Status","description":"Get the status of an image build.","operationId":"get_build_status_api_v1_images_build__build_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"build_id","in":"path","required":true,"schema":{"type":"string","title":"Build Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildStatusResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images/build/{build_id}/start":{"post":{"tags":["Images"],"summary":"Start Image Build","description":"Start the image build process after uploading the build context.\n\nThis creates a sandbox with Docker-in-Docker to build and push the image.","operationId":"start_image_build_api_v1_images_build__build_id__start_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"build_id","in":"path","required":true,"schema":{"type":"string","title":"Build Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartBuildRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildStatusResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images/builds":{"get":{"tags":["Images"],"summary":"List Image Builds","description":"List all image builds for the current user.","operationId":"list_image_builds_api_v1_images_builds_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}
[...]
